{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<section>
    <h1>Bienvenue sur le site de MusiClass</h1>
    <div>
        <h2>Voilà la liste de tous les trucs à faire :</h2>
        <ul>
            <li>Un truc cool</li>
            <li>Un truc cool</li>
            <li>Un truc cool</li>
            <li>Un truc cool</li>
        </ul>
    </div>
    <div class="video-container">
        <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/k3qUyjoCp30"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>
</section>
{% endblock %}
