{% extends 'base.html.twig' %}

{% block title %}Administration Menu{% endblock %}

{% block body %}
    <section>
        <div>
            <a href="{{ path('app_admin_index') }}">Retour au menu principal</a>
        </div>
    </section>
    <section>
        <h1>Bienvenue dans l'administration</h1>
        <div>
            <h2>Vos accès</h2>
            <ul>
                <li><a href="{{ path('app_admin_etudiant_nouveletudiant') }}">Création d'élèves</a></li>
                <li><a href="{{ path('app_admin_etudiant_liste') }}">Liste des élèves</a></li>
                <li><a href="{{ path('app_admin_cours_newCours') }}">Création d'un cours</a></li>
                <li><a href="#">Créations d'une formation</a></li>
                <li><a href="#">Les formations</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
