<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar">
                <div class="container">
                    <a href="{{ path('app_index') }}" class="logo"><button>MusiClass</button></a>
                    <ul>
                        <li><button><a href="{{ path('app_login') }}">Se connecter</a></button></li>
                        <li><button><a href="#">Visiteurs</a></button></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <main>
            {% block body %}
            {% endblock %}
        </main>
        {% block footer %}
            <div class="footer-container">
                <p>&copy; 2024 MusiClass. Tous droits réservés.</p>
                <ul class="footer-links">
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Nous contacter</a></li>
                </ul>
            </div>
        {% endblock %}
    </body>
</html>
